.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ali-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-spw {
  justify-content: space-between;
}
